{% extends "layout.html" %}

{% block title %}
    Placement
{% endblock %}

{% block main %}
    <div class="index-body">
        <nav>
            <div class="container">
                <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png" alt="Spotify" width="132" height="40">
              <div class="nav-links">
                  <a href="#">
                    learn more
                  </a>
                  <a href="#">
                    view code
                  </a>
                  |
                  <a href="/login">
                    login
                  </a>
              </div>
            </div>
        </nav>
    
        <main>
            <div class="container">
                <div class="welcome">
                    <img  class="laptop" src="https://www-growth.scdn.co/static/download/laptop.svg" alt="computer tower graphic">
                    <h1>Welcome to Placement</h1>
                    <p>Log into your Spotify account to get started</p>
                </div>
                <div class="download">
                    <p><a href="https://www.spotify.com/us/download/" target="_blank">Download</a> Spotify if you haven't already</p>
                    <a href="https://apps.microsoft.com/detail/9NCBCSZSJRSB?cid=spotifyweb-windows10-store-direct&referrer=appbadge&source=www.spotify.com&hl=en-us&gl=US" target="_blank">
                        <img class="microsoft" src="https://get.microsoft.com/images/en-us%20dark.svg" alt="microsoft logo">
                    </a>
                </div>
            </div>
        </main>
    
        <section>
            <div class="container1">
                <div class="statement">
                    <p>Gone are the days of racking your brain to figure out where a song should go</p>
                    <p>Placement has you covered</p>
                </div>
            </div>
        </section>
    
        <section>
            <div class="container2">
                <img src="https://www-growth.scdn.co/static/download/all-devices.svg" alt="multi-media array">
                <h1>Organization At It's Finest</h1>
            </div>
        </section>
    
        <footer>
            <div class="container">
                <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png" alt="Spotify" width="132" height="40">
            </div>
        </footer>
    </div>
{% endblock %}
